<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>POLINE</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="favicon" href="../img/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head> 
<body>
  <header class="header">
    <div class="header-container">
      <a href="index.html" class="header-logo">
        <img src="../img/POLINE.png" alt="当店のロゴです">
      </a>
      <nav>
        <ul class="header-menu">
           <li><a href="#">Product</a></li>
           <li><a href="#">News</a></li>
           <li><a href="#">About Us</a></li>
           <li class="store-link">
            <a href="#">
              <span class="material-symbols-outlined">shopping_cart</span>
              Online Store
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="top-slide">
      <div class="top-slide-container">
        <a href="#" class="top-slide-content">
          <div class="top-slide-img"></div>
          <div class="top-slide-title">
            新生活を彩るアイテムが登場！
          </div>
        </a>
        <a href="#" class="top-slide-content">
          <div class="top-slide-img"></div>
          <div class="top-slide-title">
            トレンドの韓国インテリアシリーズ
          </div>
        </a>
        <a href="#" class="top-slide-content">
          <div class="top-slide-img"></div>
          <div class="top-slide-title">
            "魅せる"収納を叶えるアイテムたち
          </div>
        </a>
        <a href="#" class="top-slide-content">
          <div class="top-slide-img"></div>
          <div class="top-slide-title">
            テキストテキストテキストテキストテキスト
          </div>
        </a>
        <a href="#" class="top-slide-content">
          <div class="top-slide-img"></div>
          <div class="top-slide-title">
            お気に入りのフラワーベースを見つけて！
          </div>
        </a>
      </div>
      <div class="news-container">
        <a href="#" class="news-content">
          <dl>
            <dt class="news-date">2022.5.1</dt>
            <dd class="news-text">新商品のお知らせ</dd>
          </dl>
        </a>
        <a href="#" class="news-content">
          <dl>
            <dt class="news-date">2022.4.25</dt>
            <dl class="news-text">GW限定キャンペーンを実施します！</dl>
          </dl>
        </a>
        <a href="#" class="news-content">
          <dl>
            <dt class="news-date">2022.4.1</dt>
            <dd class="news-text">新商品のお知らせ</dd>
          </dl>
        </a>
      </div>
    </section>

    <section class="new-item">
      <div class="title">
        <h1 class="sec-title">New Item
          <span class="sec-title-sub">新商品</span>
        </h1>
        <div class="sec-message-text">
          お部屋を素敵に彩る新商品がぞくぞく入荷中です！
        </div>
      </div>
      <div class="new-item-container">
        <a href="#" class="new-item-content">
          <div class="new-item-img"></div>
          <div class="new-item-detail">
            <div class="new-item-name">ガーベラマルチマット</div>
            <div class="new-item-price">¥9,999</div>
          </div>
        </a>
        <a href="#" class="new-item-content">
          <div class="new-item-img"></div>
          <div class="new-item-detail">
            <div class="new-item-name">スタンドミラー</div>
            <div class="new-item-price">¥9,999</div>
          </div>
        </a>
        <a href="#" class="new-item-content">
          <div class="new-item-img"></div>
          <div class="new-item-detail">
            <div class="new-item-name">クッションカバー</div>
            <div class="new-item-price">¥9,999</div>
          </div>
        </a>
        <a href="#" class="new-item-content">
          <div class="new-item-img"></div>
          <div class="new-item-detail">
            <div class="new-item-name">レトロカフェグラス</div>
            <div class="new-item-price">¥9,999</div>
          </div>
        </a>
      </div>
      <a href="#" class="button">VIEW ALL</a>
    </section>

    <section class="pick-up">
      <div class="title">
        <h1 class="sec-title">Pick Up
          <span class="sec-title-sub">おすすめ商品</span>
        </h1>
        <div class="sec-message-text">
          スタッフおすすめのインテリアアイテムをピックアップ！
        </div>
      </div>
      <div class="pick-up-container">
        <a href="#" class="pick-up-content">
          <div class="pick-up-img"></div>
          <div class="pick-up-text">
            レトロでかわいいダイニングアイテム
          </div>
        </a>
        <a href="#" class="pick-up-content">
          <div class="pick-up-img"></div>
          <div class="pick-up-text">
            壁掛けインテリアで雑誌のようなお部屋に
          </div>
        </a>
        <a href="#" class="pick-up-content">
          <div class="pick-up-img"></div>
          <div class="pick-up-text">
            ほっこりラテカラーで映えるおうちカフェ
          </div>
        </a>
        <a href="#" class="pick-up-content">
          <div class="pick-up-img"></div>
          <div class="pick-up-text">
            おうちをリゾートに！BOHOスタイル特集
          </div>
        </a>
      </div>
      <a href="#" class="button">VIEW ALL</a>
    </section>

    <section class="instagram">
      <div class="title">
        <h1 class="sec-title">Instagram
          <span class="sec-title-sub">インスタグラム</span>
        </h1>
        <div class="sec-message-text">
          お店の情報を発信中！フォローお待ちしています！
        </div>
      </div>
      <div class="instagram-container">
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
        <a href="#" class="instagram-content">
          <div class="instagram-img"></div>
        </a>
      </div>
      <div class="follow-container">
        <div class="id">@poline_jp</div>
        <a href="#" class="button">FOLLOW ME!</a>
      </div>
    </section>

    <section class="tag">
      <div class="title">
        <h1 class="sec-title">#Popular Tags
          <span class="sec-title-sub">人気のタグ</span>
        </h1>
      </div>
      <div class="tag-container">
        <div class="tag-flex-4">
          <a href="#" class="tag-content">#淡色女子</a>
          <a href="#" class="tag-content">#丁寧な暮らし</a>
          <a href="#" class="tag-content">#韓国インテリア</a>
          <a href="#" class="tag-content">#おうちカフェ</a>
        </div>
        <div class="tag-flex-3">
          <a href="#" class="tag-content">#BOHOスタイル</a>
          <a href="#" class="tag-content">#アンティーク</a>
          <a href="#" class="tag-content">#おうちが好き</a>
        </div>
        <div class="tag-flex-4">
          <a href="#" class="tag-content">#花のある暮らし</a>
          <a href="#" class="tag-content">#お洒落room</a>
          <a href="#" class="tag-content">#魅せる収納</a>
          <a href="#" class="tag-content">#可愛いお部屋</a>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer"> 
    <div class="footer-container">
      <div class="access">
        <dl class="access-container">
          <dt>Address</dt>
          <dd>大阪市北区中崎町XX-XX</dd>
        </dl>
        <dl class="access-container">
          <dt>Tel</dt>
          <dd>XX-XXXX-XXXX</dd>
        </dl>
        <dl class="access-container">
          <dt>Open/Close</dt>
          <dd>11:00/18:00</dd>
        </dl>
        <dl class="access-container">
          <dt>Close</dt>
          <dd>水曜日・祝日</dd>
        </dl>
      </div>
      <div class="footer-menu">
        <ul class="footer-menu-main">
          <li><a href="#">Top</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Online Store</a></li>
        </ul>
        <ul class="footer-menu-sub">
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">利用規約</a></li>
        </ul>
      </div>
    </div>
    <div class="copy">poline@2022</div>
  </footer>
</body>
</html>