* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Times New Roman", Times, serif;
  color: #66421F;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #66421F;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  padding: 40px 60px;
}
.header-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  padding: 10px 20px;
  display: flex;
}
.header-menu li {
  margin-right: 50px;
}
.header .store-link {
  margin-right: 0;
  margin-left: 220px;
}
.header .store-link span {
  vertical-align: top;
}

.footer {
  padding: 50px 110px 20px;
}

.access {
  background: silver;
}

.copy {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  display: flex;
}

.sec {
  font-weight: bold;
}
.sec-title {
  font-size: 50px;
}
.sec-title-sub {
  font-size: 25px;
  margin-left: 25px;
}
.sec-message-text {
  padding-top: 20px;
  margin-left: 150px;
}

.button {
  display: inline-block;
  padding: 40px 140px;
  margin: 50px auto 0;
  border: 1px solid #66421F;
}

.top-slide {
  padding: 50px 0;
  background: #FAF0E6;
}
.top-slide-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.top-slide-content {
  display: block;
  width: 800px;
  height: 470px;
  flex-shrink: 0;
  margin: 0 10px;
}
.top-slide-img {
  width: 100%;
  height: 420px;
  background: url(../../img/topslide-img-1.jpeg);
  background-position: center;
  background-size: cover;
}
.top-slide-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.news-container {
  background: white;
  width: 90%;
  padding: 40px 30px;
  margin: 130px auto 0;
  display: flex;
  justify-content: space-between;
}
.news-content {
  display: block;
}
.news-content dl {
  width: 100%;
  display: flex;
  align-items: center;
}
.news-content dt {
  width: 20%;
  margin-right: 30px;
}
.news-content dd {
  width: 80%;
}

.new-item {
  padding: 50px 60px;
}
.new-item-container {
  display: flex;
  justify-content: space-between;
}
.new-item-content {
  display: block;
  width: 250px;
  height: 475px;
  background: white;
}
.new-item-img {
  width: 100%;
  height: 375px;
  background: url(../../img/newitem-img-1.jpeg);
  background-position: center;
  background-size: cover;
}
.new-item-detail {
  padding: 15px 25px;
}
.new-item-price {
  margin-top: 25px;
}

.pick-up {
  padding: 50px 60px;
}
.pick-up-container {
  display: flex;
  justify-content: space-between;
}
.pick-up-content {
  display: block;
  width: 250px;
  height: 475px;
  background: white;
}
.pick-up-img {
  width: 100%;
  height: 375px;
  background: url(../../img/pickup-img-1.jpeg);
  background-position: center;
  background-size: cover;
}
.pick-up-text {
  padding: 15px 35px 30px;
  background: pink;
}

.instagram {
  padding: 50px 60px;
}
.instagram-container {
  width: 80%;
  padding: 30px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: pink;
}
.instagram-content {
  display: block;
  width: 300px;
  height: 300px;
}
.instagram-img {
  width: 100%;
  height: 100%;
  background: url(../../img/insta-img-1.jpeg);
  background-position: center;
  background-size: cover;
}

.follow-container {
  width: 80%;
  background: pink;
  padding: 50px 100px;
  margin: 0 auto;
  display: flex;
}

.id {
  width: 40%;
  padding: 80px 200px 0;
  background: white;
}

.tag {
  padding: 50px 60px;
  background: #FAE6E6;
}
.tag-content {
  display: block;
  width: 250px;
  border: 1px solid #66421F;
  border-radius: 40px;
  padding: 20px 60px;
  text-align: center;
}
