@import "../mixin/variable.scss";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:'Times New Roman', Times, serif;
  color: #66421F;
  // colorを変数にして読み込む
}

// $font-size-60: 60px / 1.5 = 40px = 4rem
// h1 {
//   font-size: ;
// }

// h2 {
//   font-size: ;
// }

// h3 {
//   font-size: ;
// }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #66421F;
  text-decoration: none;
}

img {
  max-width: 100%;
}

