.header {
  padding: 40px 60px;
  &-container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  &-menu {
    padding: 10px 20px;
    display: flex;
    li {
      margin-right: 50px;
    }
  }
  .store-link {
    margin-right: 0;
    margin-left: 220px;
    span {
      vertical-align: top;
    }
  }
}


