// button
.button {
  display: block;
  width: 400px;
  border: 1px solid #66421F;
  padding: 40px 0px;
  margin: 50px auto 0;
  text-align: center;
  transition: all 1s;
  &:hover {
    color: #fff;
    background-color: #66421F;
  }
}


// title
.title {
  margin-bottom: 50px;
  display: flex;
}

// sec
.sec {
  font-weight: bold;
  &-title {
    font-size: 50px;
    &-sub {
      font-size: 25px;
      margin-left: 25px;
    }
  }
  &-message-text {
    padding-top: 20px;
    margin-left: 150px;
  }
}